infrastructure/step_functions/master_pipeline/ocr_pipeline.asl.json
{
  "Comment": "OCR Rebuild Master Pipeline - controlled hardened skeleton with retries and result paths",
  "StartAt": "GenerateManifest",
  "States": {
    "GenerateManifest": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:026465780614:function:manifest-generator-lambda-prod",
      "ResultPath": "$",
      "Next": "Preprocessing",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "Preprocessing": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:026465780614:function:preprocessing-lambda-prod",
      "Parameters": {
        "manifest_id.$": "$.manifest_id",
        "document_id.$": "$.document_id",
        "source_uri.$": "$.source_uri",
        "source_bucket.$": "$.source_bucket",
        "source_batch_uri.$": "$.source_batch_uri",
        "document_type.$": "$.document_type",
        "expected_document_type.$": "$.expected_document_type",
        "ingestion_timestamp.$": "$.ingestion_timestamp",
        "creation_timestamp.$": "$.creation_timestamp",
        "processing_parameters.$": "$.processing_parameters",
        "requested_services.$": "$.requested_services",
        "service_status.$": "$.service_status",
        "execution_state.$": "$.execution_state",
        "documents.$": "$.documents",
        "pages.$": "$.pages",
        "execution_plan.$": "$.execution_plan",
        "routing_decision.$": "$.routing_decision",
        "evaluation.$": "$.evaluation",
        "manifest_update.$": "$.manifest_update",
        "output_s3_bucket": "ocr-rebuild-results",
        "output_s3_key.$": "States.Format('payloads/{}/preprocessing/payload.json', $.manifest_id)"
      },
      "ResultPath": "$",
      "Next": "OCR",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "OCR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "ocr-worker-task-prod",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "ocr-worker",
              "Environment": [
                {
                  "Name": "INPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "INPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/preprocessing/payload.json', $.manifest_id)"
                },
                {
                  "Name": "OUTPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "OUTPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/ocr/payload.json', $.manifest_id)"
                }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": null,
      "Next": "Gate2QualityEvaluation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },

    "Gate2QualityEvaluation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:026465780614:function:gate2-quality-evaluator-lambda-prod",
      "Parameters": {
        "input_s3_bucket": "ocr-rebuild-results",
        "input_s3_key.$": "States.Format('payloads/{}/ocr/payload.json', $.manifest_id)",
        "output_s3_bucket": "ocr-rebuild-results",
        "output_s3_key.$": "States.Format('payloads/{}/gate2_quality/payload.json', $.manifest_id)"
      },
      "ResultPath": "$",
      "Next": "TableExtraction",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "TableExtraction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "table-extraction-worker-task-prod:2",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "table-extraction-worker",
              "Environment": [
                {
                  "Name": "INPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "INPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/gate2_quality/payload.json', $.manifest_id)"
                },
                {
                  "Name": "OUTPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "OUTPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/table_extraction/payload.json', $.manifest_id)"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": null,
      "Next": "LogoTemplateRecognition",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "LogoTemplateRecognition": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "logo-recognition-worker-task-prod:2",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "logo-recognition-worker",
              "Environment": [
                {
                  "Name": "INPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "INPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/table_extraction/payload.json', $.manifest_id)"
                },
                {
                  "Name": "OUTPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "OUTPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/logo_recognition/payload.json', $.manifest_id)"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": null,
      "Next": "FraudDetection",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "FraudDetection": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "fraud-detection-worker-task-prod:2",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "fraud-detection-worker",
              "Environment": [
                {
                  "Name": "INPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "INPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/logo_recognition/payload.json', $.manifest_id)"
                },
                {
                  "Name": "OUTPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "OUTPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/fraud_detection/payload.json', $.manifest_id)"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": null,
      "Next": "Aggregation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "Aggregation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "aggregation-worker-task-prod:2",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "aggregation-worker",
              "Environment": [
                {
                  "Name": "INPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "INPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/fraud_detection/payload.json', $.manifest_id)"
                },
                {
                  "Name": "OUTPUT_S3_BUCKET",
                  "Value": "ocr-rebuild-results"
                },
                {
                  "Name": "OUTPUT_S3_KEY",
                  "Value.$": "States.Format('payloads/{}/aggregation/payload.json', $.manifest_id)"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": null,
      "Next": "Complete",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "PipelineFailure": {
      "Type": "Fail",
      "Cause": "OCR rebuild pipeline failed"
    },
    "Complete": {
      "Type": "Succeed"
    }
  }
}
