infrastructure/step_functions/master_pipeline/ocr_pipeline.asl.json
{
  "Comment": "OCR Rebuild Master Pipeline - controlled hardened skeleton with retries and result paths",
  "StartAt": "GenerateManifest",
  "States": {
    "GenerateManifest": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:026465780614:function:manifest-generator-lambda-prod",
      "ResultPath": "$",
      "Next": "Preprocessing",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "Preprocessing": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:026465780614:function:preprocessing-lambda-prod",
      "ResultPath": "$",
      "Next": "OCR",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "OCR": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "ocr-worker-task-prod",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": "$",
      "Next": "TableExtraction",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "TableExtraction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "table-extraction-worker-task-prod",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": "$",
      "Next": "LogoTemplateRecognition",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "LogoTemplateRecognition": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "logo-recognition-worker-task-prod",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": "$",
      "Next": "FraudDetection",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "FraudDetection": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "fraud-detection-worker-task-prod",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": "$",
      "Next": "Aggregation",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "Aggregation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:026465780614:cluster/ocr-rebuild-cluster",
        "TaskDefinition": "aggregation-worker-task-prod",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-08bb8a5fb305fb74a",
              "subnet-075eb014db65f8d57",
              "subnet-06d635cd188862b3a"
            ],
            "SecurityGroups": [
              "sg-0ad48d96d00af793f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": "$",
      "Next": "Complete",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PipelineFailure"
        }
      ]
    },
    "PipelineFailure": {
      "Type": "Fail",
      "Cause": "OCR rebuild pipeline failed"
    },
    "Complete": {
      "Type": "Succeed"
    }
  }
}
